.container {
  min-width: 320px;
  padding: 16px 20px;
  margin: 0 auto;
  background-color: var(--bg-color);
}
.block {
  background-color: #ffffff;
  margin-bottom: 20px;
}
.header {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    position: relative;
    flex-direction: column-reverse;
    padding-top: 34px;
  }
  .text {
    display: none;
  }
  .btn {
    position: absolute;
    top: 0;
    left: 0;
  }
  .item:last-child {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }

  .chart_container {
    /* height: auto; */
    min-height: 60px;
    margin-top: 5px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 40px 40px;
  }
  .item:not(:last-child) {
    margin-right: 30px;
  }
  .header {
    justify-content: space-between;
  }
  .block {
    border-radius: 30px;
    padding: 20px 40px;
    margin-bottom: 32px;
  }
  .chart_container {
    height: 422px;
    padding: 0 138px;
    padding-top: 20px;

    background: #ffffff;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 40px 123px;
    width: 1280px;
    text-align: center;
  }
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
}

.btn {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 100px;
  color: var(--third-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.icon {
  width: 32px;
  height: 24px;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.types {
  margin: 0 auto;
  width: 128px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.arrows {
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  background-color: transparent;
  border: none;
}
.leftArrow {
  composes: arrows;
  left: -21px;
  top: -1px;
}
.rightArrow {
  composes: arrows;
  right: -21px;
  top: -1px;
}

.date {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.iconArrow {
  width: 7px;
  height: 16px;
}
