.wrapper_nav {
  display: flex;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 138px;
  height: 40px;
  color: black;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  border-radius: 15px 15px 0 0;
  text-decoration: none;
}

.link:hover,
.link:focus {
  background-color: #ffffff;
  color: var(--accent-color);
}

.activeLink {
  composes: link;
  background-color: #ffffff;
}
