.link {
  display: inline-block;
  text-decoration: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 138px;
  height: 40px;
  background-color: #f7f8fb;
  color: black;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  border-radius: 15px 15px 0 0;
}

.button:hover,
.button:focus {
  background-color: #ffffff;
  color: var(--accent-color);
}
