.link{
    display: inline-block;
    width: 158px;
    text-decoration: none;
    font-weight: 700;
font-size: 12px;
line-height: 1.17;
color: black;
padding:7px 30px;
background-color: #F5F6FB;
}

.link:hover{   
    color:#FFF;
     background-color: #FF751D;
}