.list {
  display: flex;
}
.item:not(:last-child) {
  margin-right: 30px;
}
.name {
  margin-right: 16px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  /* margin-right: 20px; */
  display: flex;
  align-items: center;
}
.icon_logOut {
  width: 16px;
}
