.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  position: relative;
  z-index: 10;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .item {
    padding-bottom: 20px;
  }
  .item:not(:nth-last-child(-n + 2)) {
    border-bottom: 1px solid #e0e5eb;
  }
  .list {
    border-bottom: 1px solid #e0e5eb;
  }
}
@media screen and (min-width: 768px) {
  .list {
    width: 623px;
    margin-right: -5px;
  }
  .item {
    width: calc((100% - 30px) / 6);
  }
  .item:not(:last-child) {
    margin-right: 5px;
  }
  .item:nth-child(6) {
    margin-right: 0;
  }
}
.info {
  text-align: center;
  max-width: 103px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin: 0;
}

.link {
  color: var(--icons-color);
}
.iconBackground {
  position: absolute;
  z-index: 0;
  left: 0;
  fill: #f5f6fb;
}
.icon {
  fill: var(--icons-color);
}

.activeLink .icon {
  fill: var(--accent-color);
}
.activeLink .iconBackground {
  fill: var(--second-accent-color);
}
